<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>YouTube Trending Videos Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../flask_files/static/css/style.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
      <!--  <img src="../images/youtube_PNG15.png" width=150 height=100 /> -->
      <img src="../images/youtube_logo-768x172.png" width=364 height=86 />
        <h1>Trending Videos Dashboard</h1>
        <p>Use the dropdown to select and view trending YouTube video categories for 2017-2018.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>Select YouTube Category:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
      <!--    <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Category Data</h3>
          </div>
          <div id="category-metadata" class="panel-body"></div>
        </div> -->
      </div>
      <div class="col-md-5">
        <div id="scatter"></div>
        <!-- Views Scatter Plot -->
        <p> Scatter Plot Here: Total Views per Month for the Category (Dynamic) </p>
      </div>
      <div class="col-md-5">
        <div id="pie"></div>
        <!-- Likes / Dislikes Pie Chart -->
        <p> Pie Chart Here: Likes / Dislikes in the Category (Dynamic) </p>
      </div>
    </div>
<!--  </div>
   <div class="row">  -->
  <!--  <div class="col-md-12"> -->
  <div>
    <div class="col-md-2">
  </div>
  <div class="col-md-5">
      <div id="bar1"></div>
      <!-- Comments Bar Chart - comparing all categories) -->
      <p> Bar Chart 1 Here: The Number of Comments Compared across all Categories (Static) </p>
    </div>
    <div class="col-md-5">
        <div id="bar2"></div>
        <!-- Unique Videos Bar Chart - number of unique videos per category) -->
        <p> Bar Chart 2 Here: The Number of Unique Videos within each Categories (Static) </p>
      </div>
  </div>

  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>
